body{
    CSS rules to specify families
    font-family: 'Open Sans', sans-serif;
    font-family: 'Scheherazade New', serif;
    
}

h1{
    color: aqua;
}

.myhiding{
 background-color: aqua;
}
#myhiding{
    background-color: blue;
}
.mydiv{
    background-color: brown;
    padding: 30px;
    margin: 50px;
}
.mydiv h2{
    color: bisque;

}